body {
    /*-webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;*/
    /*opacity: 0;*/
}

.splash .page__background {
    background-size:100% auto;
    background-color: #000;
    background-image: url('../splash.png');
    background-repeat:no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    background-color:transparent;
}

.splash.page {
    background-color:transparent !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'dubielplainregular';
    src: url('dubiel-webfont.eot');
    src: url('dubiel-webfont.eot?#iefix') format('embedded-opentype'),
    url('dubiel-webfont.woff2') format('woff2'),
    url('dubiel-webfont.woff') format('woff'),
    url('dubiel-webfont.ttf') format('truetype'),
    url('dubiel-webfont.svg#dubielplainregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dubielitalic';
    src: url('dubielitalic-webfont.eot');
    src: url('dubielitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('dubielitalic-webfont.woff2') format('woff2'),
    url('dubielitalic-webfont.woff') format('woff'),
    url('dubielitalic-webfont.ttf') format('truetype'),
    url('dubielitalic-webfont.svg#dubielitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaStd-Medium';
    src: url('FuturaStd-Medium.eot');
    src: url('FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('FuturaStd-Medium.ttf') format('truetype'),
    url('FuturaStd-Medium.svg#dubielitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('HelveticaNeueLTStd-Lt.eot');
    src: url('HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueLTStd-Lt.ttf') format('truetype'),
    url('HelveticaNeueLTStd-Lt.svg#dubielitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tillium-regular';
    src: url('titilliumweb-regular-webfont.eot');
    src: url('titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('titilliumweb-regular-webfont.ttf') format('truetype'),
    url('titilliumweb-regular-webfont.svg#tillium-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_song_for_jennifer_bold';
    src: url('a_song_for_jennifer_bold-webfont.eot');
    src: url('a_song_for_jennifer_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('a_song_for_jennifer_bold-webfont.ttf') format('truetype'),
    url('a_song_for_jennifer_bold-webfont.svg#tillium-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'tillium-regular';
    font-size:13px;
    color:#412811;
}

input[type=text], input[type=email], input[type=phone] {
    font-family: 'FuturaStd-Medium' !important;
    border-color: solid 0.1em #757575 !important;
    border-radius: none !important;
    -webkit-border-radius: none !important;
    font-size:1em;
}

input[type=checkbox] {
    min-width:1em;
    max-width:1em;
}

.header-title {
    font-family: 'dubielplainregular';
    font-size: 2em;
    padding:0;
    margin:0;
    background: #3c3c3c;
    color:#fdfdfe;
    text-align:center;
}

.title-big {
    font-family: 'dubielitalic';
    color: #fa00c2;
    font-size: 2em;
    margin: 0;
    padding: 0;
    line-height: 0.9em;
}

.title-medium {
    font-family: 'dubielplainregular';
    font-size: 1.1em !important;
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #fff;
}

.session_reservation_detail .title-normal .rosa, .session_reservation_detail .title-normal .value {
    font-size: 1.2em !important;
    line-height: 18px !important;
}

.title-normal.access_conditions {
    /*font-size: 1em;*/
}

.title-normal {
    font-size: 0.67em;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.info_content {
    font-family: 'dubielplainregular';
    font-size: 1em !important;
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #abaaaa;
    padding: 0em;
    text-align: justify;
}

.guestpage .page__content {
    top:87px;
}

.guest_list_item {
    position:relative;
    height:200px;
    /*max-height:205px;*/
}

.guest_list_item .item-bg, .item-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% auto;
    background-image: url('../img/logo.png');
    background-color: #fff;
    background-position: center center !important;
    background-repeat: no-repeat;
}

.item-bg img {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    opacity: 0;
    display:block !important;
}

.item-bg-final {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 100% 100%;
    background-color: #fff;
    background-position: center 5%;
    background-repeat: no-repeat;
    /*-webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    opacity: 0;*/
}

.item-bg.list .item-bg-final {
    background-position: center center;
    background-size: 100% auto;
}

.item-bg.detail .item-bg-final {
    background-position: center center;
    background-size: auto 100%;
}

.languageButtons {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    opacity: 0;
}

.fadein {
    opacity: 1;
}

.guest_list_item {
    border-top: 0.1em solid #fa00c2;
}

.guest_list_item:first-child {
    border-top: none;
}

.session_day {
    color: #878888;
    font-size: 0.8em;
    font-family: 'HelveticaNeueLTStd-Lt';
    font-weight: bold;
    height: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.session_day.selected {
    color: #fa00c2;
}

.session_day.selected:after {
    font-family: 'FontAwesome';
    position: absolute;
    content: "\f0d8";
    bottom: -11px;
    left: 50%;
    margin-left: -8px;
    font-size: 0.5em;
}

.session_month {
    font-size: 0.4em;
    font-family: 'HelveticaNeueLTStd-Lt';
    font-weight: normal;
    text-transform: capitalize;
    padding-left: 0.5em;
}

.session-item {
    width:3em;
    position:relative;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center 16%;
    /*background-size: 100% auto;
    background-repeat: no-repeat;*/
}

.overlay {
    background: rgba(0,0,0,0.6);
    color:#fff;
}

.guesto-list-verlay {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 0.4em;
    padding-top: 0;
}

.guesto-list-verlay.single {
    padding-top: 1em;
}

.button {
    font-family: 'FuturaStd-Medium';
    display: inline-block;
    color: white;
    border: 0.08em solid #fff;
    -webkit-box-shadow: 0px 0px 0.5em #000;
    box-shadow:  0px 0px 5px #000;
    background:#262626;
    min-width: 115px;
    padding: 0;
    font-weight: bold;
    height: 1.8em;
    position:relative;
    overflow:visible;
    border-radius:0px;
    -webkit-border-radius: 0px;
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.transparent {
    font-family: 'FuturaStd-Medium';
    color: white;
    border: 0.08em solid #fff;
    -webkit-box-shadow: 0px 0px 0.5em #000;
    box-shadow:  0px 0px 5px #000;
    background:#262626;
    min-width: 115px;
    padding: 0;
    font-weight: bold;
    position:relative;
    overflow:visible;
    border-radius:0px;
    -webkit-border-radius: 0px;
    margin-left: 0.3em;
    margin-right: 0.3em;

    display: block;
    height: auto !important;
    line-height: 1.8em;
    background: rgba(0,0,0,0.4);
}

.icon {
    width:2em;
    height:2em;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
}

.button.icon {
    padding-left: 1em;
    height: 27px;
    line-height: 24px;
}

.sp {
    background-image: url('../img/sp.png');
    position:absolute;
    left:0;
    top: -0.5em;
}

.en {
    background-image: url('../img/en.png');
    position:absolute;
    left:0;
    top: -0.5em;
}

.button.purple {
    background: #fa00c2;
}

.button.gray {
    background:#313131;
}

span.block {
    display:block;
}

.guest-list-item-content {
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 1em;
}

.guest-list-item-content span {
    line-height: 22px;
}

.tab-bar {
    background:#fff;
}

:checked + .tab-bar__button {
    color:#fa00c2;
}

.tab-bar__icon + .tab-bar__label {
    font-family: 'FuturaStd-Medium';
    font-size:0.6em;
}

.tabicon .fa-square:before {
    background-image: url('../img/guest.png');
    background-repeat: no-repeat;
    content: '';
    width: 32px;
    height: 38px;
    display: block;
    background-position: 0 0;
    background-size: 64px auto;
    zoom: 0.8;
}

.active .fa-square:before {
    background-position: -33px 0;
}

.icon-guest .fa-square:before { background-image: url('../img/guest.png'); }
.active .icon-guest .fa-square:before { background-position: -33px 0; }

.icon-clubs .fa-square:before { background-image: url('../img/clubs.png'); }
.active .icon-clubs .fa-square:before { background-position: -33px 0; }

.icon-life .fa-square:before { background-image: url('../img/life.png'); }
.active .icon-life .fa-square:before { background-position: -33px 0; }

.icon-promos .fa-square:before { background-image: url('../img/promos.png'); }
.active .icon-promos .fa-square:before { background-position: -33px 0; }

.icon-profile .fa-square:before { background-image: url('../img/profile.png'); }
.active .icon-profile .fa-square:before { background-position: -33px 0; }

.backButton, .backButtonWhite {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    color: #fff;
    background: url('../img/back.png') 0 0 no-repeat transparent;
    width: 35px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 3em;
}

.backButtonWhite {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    color: #fff;
    background: url('../img/back_white.png') 0 0 no-repeat transparent;
    width: 2em;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 3em;
}

.guest_list_title {
    background: url('../img/guest_list_header.png') 0 0 no-repeat transparent;
    background-repeat: no-repeat;
    background-size: auto 90%;
    height: 1.3em;
    text-align: center;
    width: 9em;
    margin: 0 auto;
    background-position: center center;
}

.clubs_title {
    background: url('../img/clubs_header.png') 0 0 no-repeat transparent;
    background-repeat: no-repeat;
    background-size: auto 70%;
    height: 1.3em;
    text-align: center;
    width: 9em;
    margin: 0 auto;
    background-position: center center;
}

.life_title {
    background: url('../img/life_header.png') 0 0 no-repeat transparent;
    background-repeat: no-repeat;
    background-size: auto 70%;
    height: 1.3em;
    text-align: center;
    width: 9em;
    margin: 0 auto;
    background-position: center center;
}

.promo_title {
    background: url('../img/promos_header.png') 0 0 no-repeat transparent;
    background-repeat: no-repeat;
    background-size: auto 70%;
    height: 1.3em;
    text-align: center;
    width: 9em;
    margin: 0 auto;
    background-position: center center;
}

.setup_my_data_title {
    background: url('../img/my_guest_list_header.png') 0 0 no-repeat transparent;
    background-repeat: no-repeat;
    background-size: 65% auto;
    height: 3em;
    text-align: center;
    width: 19em;
    margin: 0 auto;
    background-position: center 14px;
    vertical-align: middle;
    display: table-cell;
}

.back_to_my_guest_list {
    background: url('../img/back_to_my_guest_list_header.png') 0 0 no-repeat transparent;
    background-repeat: no-repeat;
    background-size: 70% auto;
    height: 3em;
    text-align: center;
    width: 19em;
    margin: 0 auto;
    background-position: center 19px;
    vertical-align: middle;
    display: table-cell;
}

.setup_my_data_title.es {
    background-image: url('../img/my_guest_list_header.png');
    background-size: 65% auto;
    background-position: center 8px;
}

.back_to_my_guest_list.es {
    background-image: url('../img/volver_a_mi_guest_list_header.png');
    background-position: center 11px;
}

.rightButton {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: #fff;
    background: url('../img/adelante.png') 0 0 no-repeat transparent;
    width: 2em;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 3em;
}
.buttonInfo {
    position: absolute;
    right: 0em;
    top: 0.1em;
    color: #fff;
    background: url('../img/info.png') 0 0 no-repeat transparent;
    width: 1.4em;
    background-repeat: no-repeat;
    background-size: auto 80%;
    height: 38px;
    background-position: center 5px;
    width: 36px;
}


.rightButton.profile {
    background: url('../img/profile_btn.png') 0 0 no-repeat transparent;
    background-size: 88% auto;
}

.carousel-paginator {
    margin-top: -57px;
    padding: 0;
    list-style: none;
    bottom: -19px;
    position: relative;
    bottom: -0.7em;
}

.carousel-page {
    width: 0.7em;
    height: 0.7em;
    background: #fff;
    border-radius: 1em;
    display: inline-block;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.carousel-page.selected {
    background: #fa00c2;
}

ons-carousel {
    background: #fff;
}

.guestlist .page__content{
    top:258px;
}

.buttons {
    line-height: 1em;
}

.card-content {
    margin:0.5em;
}

form.card-content, .form.card-content {
    padding-top: 1.9em !important;
    margin: 0;
    padding: 0.5em;
    margin: 0.3em;
}

.form.card-content {
    padding-top: 0em !important;
}

.card-content p {
    text-align: center;
    margin: 0.2em;
    font-size: 0.8em;
    color:#494949;
}

form.card-content p, .form.card-content p {
    font-size: 0.8em;
    display: table;
    width:100%;
}

.card-content label {
    color:#fc00be;
}

form.card-content label, .form.card-content label.editable {
    min-width: 8em;
    max-width: 8em;
    display: inline-block;
    text-align: right;
}

form.card-content label .form.card-content label {
    display: table-cell;
    min-width: 7em;
    max-width: 7em;
    vertical-align: middle;
    text-align: right;
}

form.card-content input, .form.card-content input {
    display: table-cell;
    width: 11.3em;
    vertical-align: middle;
    margin-left: 0.3em;
    border: solid 1px #757575;
    border-radius: 0;
    webkit-border-radius: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 2em;
    font-family: 'Arial';
}

.card-content span {
    color:#494949;
}

form.card-content span, .form.card-content span {
    color:#abaaaa;
}

.card-content p.content{
    text-align: justify;
    margin-top: 0.5em;
}

.bottom-dialog {

}


.bottom-dialog .dialog, .info-dialog .dialog {
    bottom: 0;
    min-height: 21.2em;
    top: 100%;
    min-width: 100%;
    border-radius: 0;
    webkit-border-radius: 0;

    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

@media all and (max-height: 20em) {
    .bottom-dialog .dialog, .info-dialog .dialog {
        min-height: 100%;
    }
}

@media all and (min-width: 500px) {

    .item-bg.list .item-bg-final {
        background-position: center center;
        background-size: 100% auto;
    }
}

.button.close {
    background: white;
    border-radius: 2em;
    border: solid 0.15em #5f5f5f;
    color: #5f5f5f;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-family: 'FuturaStd-Medium';
    padding: 0.4em;
    display: table-cell;
    min-width: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    position: absolute;
    top: 0em;
    right: 0em;
    padding-left: 0.5em;
    font-size: 1em;
    position: absolute;
}

label.spinner {
    color: #969696;
    font-size: 2.5em;
    font-weight: bold;
    min-width: 2em !important;
    max-width: 2em !important;
    width: 2em !important;
    line-height: 1em;
    vertical-align: middle;
}

.button.spinner {
    display: inline-block;
    background: #6e6e6e;
    color: #fff;
    border: none;
    font-size: 2em;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0em 0em 1.2em 0em;
    margin: 0;
    width: 1em;
    min-width: 1em;
    min-height: 1em;
    height: 1em;
    vertical-align: middle;
    margin: 0.05em;
}

/*ons-scroller{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}*/

input[type=checkbox] {
    display: none !important;
}

.checkbox label:before {
    border-radius: 3px;
}

input[type=checkbox] + label:before {
    content: "i";
    display: inline-block;
    width: 16px;
    height: 16px;
    left: 0;
    bottom: 1px;
    background-color: #5e5e5e;
    color: #5e5e5e;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    font-size: 15px;
    text-align: center;
    line-height: 15px;
    margin-right: 0.4em;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #f3f3f3;
}

label.checkbox {
    min-width: 12em !important;
    max-width: 12em !important;
    text-align: left;
    padding-left: 0em;
    color: #abaaaa;
    font-size: 1em;
    text-align: left !important;
    margin-top: 0;
    margin-bottom: 0;
}

.profile-sections > div {
    margin-top:1em;
}

.profile-sections .button {
    margin-top:0.5em;
}

.user_data {
    display:none;
}

.visible {
    display:block;
}

.carousel-detail {
    height:255px;
}

.rosa {
    color: #fb00c2 !important;
}

.normal-page .toolbar {
    height:45px !important;
}

.toolbar.big {
    height:257px;
}

.guestpage .page__content {
    top: 46px;
}

.normal-page .page__content {
    top: 46px !important;
}

.guestpage.carousel .page__content{
    top: 87px;
}

.center.header-title {
    padding-top:0 !important;
}

.navigation-bar__title {
    padding-top:0 !important;
}

.hascarousel .page__content {
    top: 257px;
}

.session_day_text {
    font-weight:normal;
    letter-spacing: -5px;
}

.guesto-list-verlay.overlay {
    display:block !important;
    line-height: 23px;
}


.navigation-bar {
    white-space: normal;
}

.navigation-bar--android__center:first-child:last-child {
    padding-left:0;
}


.nobutton {
    background: none;
    border: none;
    box-shadow: none;
    background-size: 100% auto;
}

.slider-left {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -22px;
    background: url('../img/left.png') 0 0 no-repeat transparent;
    background-size: auto 100%;
    height: 45px;
    min-width:45px;
}

.slider-right {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -22px;
    background: url('../img/right.png') 0 0 no-repeat transparent;
    background-size: auto 100%;
    height: 45px;
    min-width:45px;
}

.horizontal {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.horizontal > div {
    display: inline-block;
}

.cuadrado {
    min-width: 73px;
    height: 73px;
    margin: 1px;
}

.llamanos {
    background: url('../img/btn_llamanos.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
    height:36px;
}

.localizacion {
    background: url('../img/btn_localizacion.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
    height:36px;
}

.la_carta {
    background: url('../img/btn_carta.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.menu {
    background: url('../img/btn_menu.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.grupos {
    background: url('../img/btn_grupos.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.nosotros {
    background: url('../img/btn_nosotros.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}

.ambientes {
    background: url('../img/btn_ambientes.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.alertas {
    background: url('../img/btn_alertas.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.galeria {
    background: url('../img/btn_galeria.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.button.contacto {
    background: url('../img/btn_info.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}

.tres {
    min-width: 100px;
    height: 42px;
    margin: 0;
}

.btn_entrantes {
    background: url('../img/btn_entrantes.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
}

.btn_primeros{
    background: url('../img/btn_primeros.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
}
.btn_pescados{
    background: url('../img/btn_pescados.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
}
.btn_carnes{
    background: url('../img/btn_carnes.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
}
.btn_para_llevar{
    background: url('../img/btn_para_llevar.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
}
.btn_bodega{
    background: url('../img/btn_bodega.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
}


.header-title {
    background: url('../img/logo.png') center center no-repeat #fff;
    background-size: auto 86%;
}

.toolbar.navigation-bar {
    box-shadow: 0px 5px 4px rgba(0,0,0,0.3);
}

.list-item {
}

.list-item .image, .list-item .list_title {
    display: table-cell;
    vertical-align: top;
}

.list-item .image {
}

.list-item .list_title {
    padding-left: 5px;
    padding-right: 35px;
    word-wrap: break-word;
}

.entrante {
    background: url('../img/icon_la_carta_entrantes.png') left center no-repeat transparent;
}
.vinos {
    background: url('../img/icon_la_carta_nuestros_vinos.png') left center no-repeat transparent;
}

.list_restaurante {
    background: url('../img/icon_gf_restaurante.png') left center no-repeat transparent;
    padding-left:55px;
}

.list_la_carta {
    background: url('../img/icon_gf_la_carta.png') left center no-repeat transparent;
    padding-left:55px;
}


.subtitle {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
    padding-left:40px;
}

.list__item {
    padding-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid #fff;
    padding:0;
}

.list-item {
    width:100%;
    font-size:15px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.primero {
    background: url('../img/icon_la_carta_primeros.png') 6px center no-repeat transparent;
}

.pescado {
    background: url('../img/icon_la_carta_pescados.png') left center no-repeat transparent;
}

.asado_carne {
    background: url('../img/icon_la_carta_carnes.png') left center no-repeat transparent;
}

.comida_para_llevar {
    background: url('../img/icon_la_carta_especialidades.png') left center no-repeat transparent;
}

.nuestros_vinos {
    background: url('../img/icon_la_carta_nuestros_vinos.png') 10px center no-repeat transparent;
}

.menu_para_grupos {
    background: url('../img/icon_la_carta_entrantes.png') left center no-repeat transparent;
}

.normal-page .page__background {
    background: url('../img/bg.jpg') 0 0 repeat transparent;
}

/*.list__item--chevron:before {
    content:"";
}*/

.arrow {
    /*background: url('../img/arrow.png') right center no-repeat transparent;*/
}

.title {
    font-family: 'a_song_for_jennifer_bold';
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#744d12;
}

.title.a_la_carta {
    background: url('../img/icon_terrazas.png') left center no-repeat transparent;
    padding-left: 41px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}


.box {
    background: url("../img/bg_las_terrazas.png");
    border-top: 3px solid #F5CB67;
    border-right: 3px solid #f8dc96;
    border-left: 3px solid #f8dc96;
    border-bottom: 3px solid #f9e3a8;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    box-shadow: 0px 0px 5px rgba(0,0,0,.6);
    margin-bottom: 5px;
    padding: 5px;
    padding-bottom: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}

.page-custom {
    margin-left: 10px;
    margin-right: 10px;
}

#carta_list {
    margin:10px;
}

.price-row {
    display:table;
    display: table;
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: dashed;
    border-top-color: #b27814;
    padding-top: 5px;
    padding-bottom: 5px;
}

.price-row:first-child {
    border:none;
}

.price-row.vinos_list {
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: dashed;
    border-bottom-color: #b27814;
}

.price-row .name, .price-row .price {
    display:table-cell;
}

.price-row .name {
    width:100%;
}

.price-row .name, .price-row .price {
    font-family: 'tillium-regular';
    font-size:14px;
    font-weight: normal;
    font-style: normal;
    color:#412811;
    text-align: left;
}

.price-row .price {
    color:#b27814;
}

.subtitle {
    font-size: 23px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height:14px;
}

.description * {
    color: #535353;
    font-family: 'tillium-regular';
    font-size: 18px;
    font-weight: lighter;
}

.scrollfix {
    padding-bottom:20px;
}

.list {
    margin:10px;
}

.grupo.list .price-row {
    border:none;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: dashed;
    border-bottom-color: #b27814;
    margin-top: 10px;
}

.grupo.list .price-row:first-child {
    margin-top: 0;
}

.grupo.list .name{
    color:#412811;
    font-weight: bold;
    text-transform: uppercase;
    font-size:16px;
}

.grupo.list .price {
    color:#b27814;
    font-weight: bold;
    font-size:16px;
}

.menu_grupo_content h4, .menu_grupo_content h4 b{
    color:#b27814;
    font-weight: bold;
    margin:0;
    padding:0;
    font-size:16px;
    padding-top: 10px;
}

.menu_grupo_content p {
    margin:0;
}

#menu_diario_content {
    margin:10px;
}

.scrollable img {
    max-width:100%;
    width:100%;
    height:auto;
}

.novedades img {
    width:100px;
    height:auto;
    margin-right:5px;
    margin-bottom:62px;
}

figure {
    margin:0;
    min-height: 100px;
}

.list_title {

}

.novedad_titulo {
    display:block;
    font-size:16px;
    font-weight: bold;
    line-height: 20px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.novedad_fecha {
    display:block;
    font-size:12px;
    line-height: 12px;
    font-weight: normal;
}

.short_desc {
    margin: 0;
    padding: 0;
    line-height: 18px;
    display: block;
    font-weight: normal;
    font-size: 14px;
}

.bg_info {
    width: 262px;
    text-align: center;
    background: url('../img/bg_info.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
    height: 175px;
    top: 50%;
    position: relative;
    left: 50%;
    margin-left: -132px;
    margin-top: 67px;
    padding-top: 121px;
}

#noticia_image {
    min-height:174px;
    width:100%;
}

.galeria-item {
    display:inline-block;
    margin:2px;
    max-width:100px;
    min-width:100px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}

.galeria-item img {
    -webkit-box-shadow: 0px 0px 2px #000;
    box-shadow: 0px 0px 2px #000;
}

#galeria_content {
    text-align:center;
}

.contact-row {
    display:table !important;
    width:100%;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: dashed;
    border-bottom-color: #b27814;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-row .name {
    display:table-cell;
    text-align:left;
    vertical-align: bottom;
}

.contact-row .icon {
    display:table-cell;
    text-align:right;
    width:32px;
    height:32px;
    vertical-align: bottom;
}

.contact-row.center, .contact-row.center .name {
    text-align: center;
}

.icon.map {
    background: url('../img/btn_location.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.icon.web {
    background: url('../img/btn_web.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}

.icon.mail {
    background: url('../img/btn_mail.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.icon.form {
    background: url('../img/btn_form.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}
.icon.phone {
    background: url('../img/btn_phone.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}

.icon.blog {
    background: url('../img/btn_blog.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}


.icon.web {
    background: url('../img/btn_web.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
}

.icon.facebook {
    background: url('../img/btn_facebook.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
    width:60px;
    height:60px;
}

.icon.twitter {
    background: url('../img/btn_twitter.png') 0 0 no-repeat transparent;
    background-size: 100% 100%;
    width:60px;
    height:60px;
}

.button.enviar {
    background: url('../img/btn_enviar.png') 0 0 no-repeat transparent;
    background-size: 100% auto;
    width: 100px;
    height: 38px;
}

.contacto_form {
    width:300px;
    margin:0 auto;
}

.contacto_form p {
    margin: 0;
    padding: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.contacto_form .input, .contacto_form label {
    display: block;
    margin: 0px;
    text-align: left;
    width: 95%;
    padding: 0;
    margin-bottom: 10px;
}

.contacto_form .input {
    padding:5px;
}

.red {
    color:#eb482f;
}

.name {
    font-size:18px;
}
.price {
    font-size:18px;
}

.price-row .name, .price-row .price {
    font-size:18px;
}

.menu_grupo_content h4, .menu_grupo_content h4 b, .menu_grupo_content p b {
    font-size:18px;
}

.menu_grupo_content p b {
    font-weight: normal;
}

.grupo.list .name, .grupo.list .price {
    font-size:18px;
}

#redes_content *{
    font-size:15px !important;
}

#redes_content .title{
    font-size:28px !important;
}

#horario {
    font-size:18px;
}


#menu_diario_content h3 {
    color:#744d12;
}
#menu_diario_content .description_listado {
    color:#744d12;
}

#menu_diario_content p {
    font-size:18px;
    padding:0;
    margin:0;
}

#menu_diario_content h3 {
    padding:0;
    margin:0;
    margin-bottom: 5px;
    margin-top: 5px;
}

#carta_list h4 {
    margin-bottom: 0px;
    margin-top: 15px;
}


@media screen and (min-width: 375px) {
    .cuadrado {
        min-width: 87px;
        height: 87px;
        margin: 1px;
    }
}

@media screen and (min-width: 414px) {
    .cuadrado {
        min-width: 96px;
        height: 96px;
        margin: 1px;
    }
}

